$primary-color: #213F7D;
$text-color: #545F7D;
$input-border: 2px solid rgba(84, 95, 125, 0.15);
$secondary_color:#39CDCC;
$hover_color:rgba(57, 205, 204,0.06);
$background_color:#FFFFFF;
$border_radius:4px;
$tertiary_color:#E5E5E5;
$border: 1px solid rgba(33, 63, 125, 0.06);
$box_shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
$hover_color_2: #39CDCC0F;
$danger:#E4033B;
$border:1px solid rgba(84, 95, 125, 0.14);



$breakpoint-tablet: 768px;