@use 'utilities'; 


.logo {
    display:flex;
    gap:5px;
    & h1 {
        font-size:36px;
        color: utilities.$primary-color;
    }
}

.custom_input {
    margin:7px 0;
  width:100%;
    transition:all 0.3s;
    position:relative;
    & >input,& >select {
      width:100%;
      height:45px;
      box-sizing:border-box;
      padding:0 10px; 
      background:transparent;
      border:utilities.$input-border ;
      outline:none;
      color: utilities.$text-color;
      &::placeholder{
        color: utilities.$text-color;
opacity: 0.6;
font-size: 14px;
      }
    }
}
.input_side_text{
    height: 45px;
    width:80px;
    cursor:pointer;
    position:absolute;
    top:0;
    border-radius:0 8px 8px 0px;
    right:0;
    display:flex;
justify-content: center;
align-items: center;
font-size: 12px;
color:utilities.$secondary_color;
}

.passowrd_container{
    margin-top:5px;
    font-size:12px;
}
.password_box{
    width:160px;
    height:5px;
    background-color:blue;
    border-radius:10px;
}


.header {
    // color: #fff;
    height:100px;
   background: utilities.$background_color;
   display:flex;
   justify-content: space-between;
   align-items: center;
box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding:0 30px;
    box-sizing: border-box;
    .header_input{
      display:none;
      width:400px;
    }
    .header_input_side_text{
      background:utilities.$secondary-color;
      width:56px;
      color:white;
      font-size: 18px;
    }
  }
  
.sidebar_first{
  margin-left:-35px;
}
.sidenav {
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  transition:all 0.5s;
  z-index:18;
    height: calc(100vh - 100px);
    overflow-y: auto;
    position: fixed;
    top: 100px;
    // left: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    width: 283px;
    box-sizing: border-box;
    padding:20px 0px;
    &.open { transform: translateX(0); // Show side nav on mobile screens when open 
    } 
  

  }  ul {
      list-style: none;
      
      li {
        
        font-weight: 400;
        padding:15px 25px;
        padding-right: 0;
        transition: all 0.3s;
        border-left:2px solid #f1f1f1;
        font-weight: 500;
        opacity:0.7;
        &:hover {
          background:utilities.$hover_color;
          cursor:pointer;
          border-left:2px solid utilities.$secondary-color;
        box-sizing: border-box;
        opacity:1;
        }
        .li_link{
          text-decoration: none;
          color:utilities.$primary-color;
          display:flex;
          gap:10px;
          div{
            margin-top:2px;
          }
          p{
            font-size:16px;

          }
        }
       
      }
      
       .selectedTab{
        background:utilities.$hover_color;
        cursor:pointer;
        opacity:1;
        border-left:2px solid utilities.$secondary-color;
      box-sizing: border-box;
      }
     
    }
  .sidebar_list_parent{
    font-size:12px;
    color:utilities.$primary-color;
    font-weight:500;
    z-index:9;
  }
  .sidebar_fast_link{
    margin-bottom: 20px;
  }
  .ul_logout{
    border-top: 1px solid #213F7D;;
    padding-top:10px;
    margin-top: 35px;
    .li_version{
      font-size: 12px;
      padding-bottom:0;
      color:utilities.$primary-color;
      &:hover{
        background:none;
        border-color:transparent
      }
    }
  }
.header_ending_nav{
  display:none;
  gap:40px;
  align-items: center;
  cursor:pointer;
  .header_ending_nav_docs{
    color:utilities.$primary-color;
    text-decoration: underline;
    font-size: 16px;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .header_ending_nav_notification{
    color:utilities.$primary-color;
    font-size: 19px;
  }
}
.profile_tab_img{
  display:flex;
}
.profile_tab_img img{
  width:40px;
  height:40px;
  border-radius: 50%;
}
.profile_tab {
  display:flex;
  gap:10px;
  align-items: center;
  & .profile_img_dropdown{
    display:flex;
    gap:3px;
    // align-items: center;
  }
  .profile_img_dropdown_icon {
    color:utilities.$primary-color;
    // font-size:30px;
    align-self: flex-end;
  }
}

.pagination_btn {
            width:20px;
            height:20px;
            color:#2C3E50;
            background: rgba(33, 63, 125, 0.1);
border-radius: 4px;
}
.pagination_display{
  cursor:pointer;
  transition:0.1s all;
  &:hover{
    color:#545F7D;
  }
}
.pagination_number{
  display: flex;
  gap:10px;
}
.custom-dropdown {
  position: relative;
  display: inline-block;

  .dropdown-header {
    cursor: pointer;
  }

  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 5px;
    }
  }
}
.dropdown_header{
  color:#545F7D;
  display: flex;
  justify-content: center;
  cursor:pointer;
  gap:5px;
  p{
    font-size: 16px;
  }
}
.not_found{
  text-align: center;
}
.back_container {
  display:flex;
  gap:10px;
  align-items: center;
  font-size: 16px;
  .link_tag {
    color:utilities.$text-color;
    text-decoration: none;
   
  }
}
.back_icon {
  font-size: 25px;
  margin-top:8px;
}
.custom_wrapper{
  padding:20px;
}
.custom_picture{
 background:#{utilities.$primary-color + '29'};
 border-radius: 50%;
 display:flex;
 justify-content: center;
 align-items: center; 
 img {
  border-radius: 50%;
 }
}

.dropdown-container {
  position: relative;
  z-index:30;
  & div:last-child {
    
  }
}

.dropdown-content {
  position: absolute;
  top: 100%;
  
  z-index:99;
  right:70%;
  left: 0%;
  display: none;
  max-height: auto;
  overflow-y: auto;
  background: #FFFFFF;
border: 1px solid rgba(84, 95, 125, 0.14);
box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
border-radius: utilities.$border_radius;
padding:15px 0;
box-sizing: border-box;
}
.dropdown-content-left {
  position: absolute;
  top: 100%;
  
  z-index:99;
  right:70%;
  display: none;
  max-height: auto;
  overflow-y: auto;
  background: #FFFFFF;
border: 1px solid rgba(84, 95, 125, 0.14);
box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
border-radius: utilities.$border_radius;
padding:15px 0;
box-sizing: border-box;
}

.dropdown-content.open,.dropdown-content-left.open {
  display: block;
}
.label_input{
  font-size:14px;
  margin-bottom:6px;
  color:utilities.$text-color
}
.custom_loading_page{
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  /* background-color: rgba(0, 0, 0, 0.2); */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  box-sizing: border-box;
}
.custom_styles{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y:scroll;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  /* z-index: 99; */
  position: fixed;
}
.skeleton-loader:empty {
  width: 100%;
  height: 15px;
  display: block;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    lightgray;
  background-repeat: repeat-y;
  background-size: 50px 500px;
  background-position: 0 0;
  animation: shine 1s infinite;
}

@keyframes shine {
  to {
    background-position: 100% 0;
  }
}

.notification_modal {
  width: 80%;
  
  // @media ${device.mobileM} {
  //   width: 70%;
  // }
  padding:1.3rem;
  min-height: 250px;
  position: fixed;
  /* top: 10%;
  left:15%; */
  position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  height:60%;
  max-height: 60%;
  box-sizing:border-box;
  /* overflow-y: auto; */
  background-color: #FFFFFF;
  border: 1px solid rgba(84, 95, 125, 0.14);
box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  z-index: 2;
}
.notification_modal_cover{
  position:relative;
width:100%;
height:100%;
}
.notification_modal_header{
width:100%;
}
.desktop_notification{
  display:none;
}
.notification_modal_container{
  display:flex;
font-size:12px;
justify-content:space-between;

}
.notification_modal_icon{
  display:flex;
  gap:10px;
  & > div {
    display:flex;
    align-items:center;
    justify-content:center;
    width:20px;
    height:20px;
    border-radius:6px;
    color:utilities.$primary-color;
    &:hover{
      background-color:utilities.$text-color;
      color:utilities.$primary-color;
      cursor:pointer;
    }
  }
}
.notification_body{
 margin:80px 0;
 text-align: center;
}

@media (min-width: utilities.$breakpoint-tablet) {
  .sidenav{
    transform: translateX(0);
  }
  .header_ending_nav{
    display:flex;
  }
  .header{
    .header_input{
    display: block;
  }
  }
  .hamburger_menu,.mobile_notification{
    display:none;
  }
  .desktop_notification{
    display:block;
  }
  .notification_modal {
    width: 40%
  }
}