@use 'utilities'; 

.container {
    box-sizing: border-box;
    height:100%;
    min-height:100%;
    width:100%;
    display:flex;
}
.wrapper {
    min-height:100vh;
    height:100vh;
    width:100%;
    display:flex;
}
.logo_cover{
    margin:0 40px;
    margin-bottom:80px;
    
}
.signin_img{
    width:50%;
    background-color: #ffffff64;
    display:none;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}
.signin_text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    padding:0 80px;
    & p {
        margin-top:10px;
    }
}
.sigin_button{
    width:100%;
    margin-top:30px;
    button {
            color: utilities.$background_color;
            border: 0;
            border-radius: 6px;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 700;
            cursor: pointer;
            width: 100%;
            margin:0;
                transition:0.3s all; 
                &:hover{
            box-shadow: 10px -3px 52px 1px utilities.$secondary_color;
          }
          &:disabled{
            cursor: not-allowed;
          }
            height:44px;
                
        background:utilities.$secondary_color
    }
}
.forget_password p{
    color:utilities.$secondary_color;
    font-size: 12px;
    ;
}
.password_box{
    height:4px;
}
.mobile_logo{
    margin-bottom: 50px;
}


@media (min-width: utilities.$breakpoint-tablet) {
  .signin_img{
    display:flex;
  }
  .signin_text{
    width:100%;
  }
  .mobile_logo{
    display:none;
  }
}