@use 'utilities'; 

.user_page{
    
}

.user_details_section{
    display:flex;
    justify-content: space-between;
}
.user_details_button{
    display:flex;
    gap:20px;
    button{
        width:170px;
        height:40px;
        background:transparent;
        border-radius:calc(utilities.$border_radius*2) ;

        cursor:pointer;
    }  
    .user_activate_button{
        border: 1px solid utilities.$secondary_color;
        color: utilities.$secondary_color;
        transition: 0.3s all;
        &:hover{
            background:utilities.$secondary_color;
            color:white;
        }
    }
    .user_blacklist_button{
        border:1px solid #E4033B;
        color:#E4033B;
        transition: 0.3s all;
        &:hover{
            background:#E4033B;
            color:white;
        }
    }
}
.section{
    padding:20px;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    box-sizing:border-box;
    width:100%;
    border-radius: utilities.$border_radius;
    background:#FFFFFF;
    position:relative;
    
}
.user_general_section{
    padding-bottom: 0;
    .user_general_info_section{
    align-items: center;
    }
    .user_tier{
        display:flex !important;
        // justify-content: space-between;
        // background:red;
    }
}

.user_section_one_text{
    display: flex;
    flex-direction: column;
    gap:30px;
    padding: 0px;
    margin: 15px 0;
    box-sizing: border-box;
}
.user_section_one_text:nth-child(3){
    border:none;
}
.user_section_one_tabs{
    display:flex;
    padding-top:20px;
    width:100%;
    overflow-x: scroll;
    justify-content: space-between;
    border-bottom: 2px solid transparent;
    .selected{
        border-bottom:2px solid utilities.$secondary_color;
        color:utilities.$secondary_color;
    }
    .user_section_one_tab{
        flex-shrink: 0;
        padding:0 20px;
    padding-bottom: 3px;
    cursor:pointer;
    
    &:hover {
        border-bottom:2px solid utilities.$secondary_color;
        color:utilities.$secondary_color;

    }
    }
}
.user_not_found{
    padding:40px 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    div {
        margin:20px 0;
    }
  }
.user_profile_tab{

    // opacity: 0.1;
    padding:20px 0;
    border-top: 1px solid #213F7D;
  .user_profile_tab_info{ 
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(220px,1fr)); 
    grid-row-gap:25px;
   margin:25px 0;
    p {
        font-size:16px;
        font-weight: 500;
        margin-top: 15px;
    }
}
}
.not-found-tab{
    padding:50px 0;
    text-align: center;
}
.desktop_button{
    display: none;
}
.mobile_button{
    margin:20px 0;
}

@media (min-width: utilities.$breakpoint-tablet) {
    .user_general_info_section{
          display:flex;
    }
    .user_section_one_text:nth-child(3){
    border:1px solid #545F7D;
    border-top:none;
    border-bottom:none;
}
.user_section_one_text{
    padding:0 40px;
    margin: 15px 0;
}
.desktop_button{
    display: block;
}
.mobile_button{
    display: none;
}
.user_profile_tab_info{
    grid-template-columns:repeat(4,1fr);
     
}
}
 